<div>
    <main class="flow prose wrapper" style="--wrapper-max-width: 70rem">
        <div class="region flow">
            <h1>Hey 👋</h1>
            <p>
                Thanks for checking this out. This <strike>is</strike>&nbsp;<i>will be</i>&nbsp;the
                home of a free tool that helps you turn your exported <a href="https://read.cv"
                    ><span class="highlight">read.cv</span></a
                > profile data into
                <strong>your own website</strong> (in as few clicks as possible™️). Same profile but
                yours until...solar flares get us or whatever...
            </p>
            <p>Oh and you can edit the content without touching the code!</p>

            <h2>🚧 This site right here is not a platform or a posts replacement 😂 🚧</h2>
            <p>
                You will only ever visit the site you're on right now once (technically twice, if
                you come back to use the tool, I suppose).
            </p>
            <h2>Why am I building this?</h2>
            <p>
                I was an early adopter(?) of read.cv. I didn't post much because I'm mainly a
                developer and never had any amazing creative projects to show off 😥 (still
                polishing that portfolio...). But <a href="https://read.cv"
                    ><span class="highlight">read.cv</span></a
                > was probably my favourite website - both in its concept and in the reality of the thing.
            </p>
            <p>
                I would love it if I could help some people keep their profiles alive. More
                materially, I guess it could be a good way to connect with more people. It would be
                an absolute dream if this could somehow turn into a COMMUNITY tool 🙏. <a
                    href="mailto:mark.tomlinson3@gmail.com">Message me</a
                >&nbsp;if you know how to do that.
            </p>
            <p>
                Last, it can be confusing to figure out how to deploy a website, even if you have
                the code, and it would suck if people who wanted to keep their profile alive,
                couldn't.
            </p>

            <h2>Sure...but what does it do again?</h2>

            <ol>
                <li>Helps you get your read.cv profile up and running as its own site quickly.</li>
                <li>
                    Extends the read.cv export code to bake in a few extra and IMO spicy features:
                    <ul>
                        <li>
                            <strong>Profile editing!</strong>
                            <p>
                                You can continue to edit and update your profile on your website
                                itself, just as you would on read.cv. No coding required.
                            </p>
                        </li>
                        <li>
                            <strong>Update sharing!</strong>
                            <p>
                                Off by default but if you enable it, updates you make to your
                                profile will be sent to a community hub. Think the current read.cv
                                home page 🥹.
                            </p>
                        </li>
                        <li>
                            <strong>Anytime data export!</strong>
                            <p>
                                I'm adding a button to the admin page/panel that will let you export
                                your data at any stage.
                            </p>
                        </li>
                    </ul>
                </li>
            </ol>
            <h2>But didn't the team give us an app to deploy already?</h2>
            <p>
                They did and it's great. If you just want to deploy that but aren't sure how, there
                are people in the community willing to help you, including myself, <a
                    href="mailto:mark.tomlinson3@gmail.com">so just reach out</a
                > if that's what you need.
            </p>
            <h2>What about just remaking my profile on another platform?</h2>
            <p>
                Yes, a totally good approach. The point here definitely isn't to convince you that
                deploying your own code is the right or best approach.
            </p>
        </div>
        <div class="region flow faq">
            <h2>More questions...</h2>
            <div class="faq-list">
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Just how many clicks to get set up?
                    </summary>
                    <div>
                        <p>
                            It depends a little on the platform you choose and whether you already
                            have a github account. We're talking like 4 - 5 including you uploading
                            your exported data. I mean, don't hold me to that but it's around that.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary"> Will it be clear what to click? </summary>
                    <div>
                        <p>
                            It would be negligent of me to build this tool without making sure the
                            documentation is as clear as possible. Expect walkthroughs as well as
                            words.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Which deployment platforms will be supported?
                    </summary>
                    <div>
                        <p>
                            I'm aiming to support people who want to use Netlify, Cloudflare, and
                            Vercel, though this may change as I POC all three. For...reasons I would
                            strongly encourage people not to use Vercel, but I admit that their
                            platform is probably the easiest to get started with.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        How can the tool support content editing? Like, where does the data come
                        from and get saved to?
                    </summary>
                    <div>
                        <p>
                            The initial data comes from the read.cv export JSON. On initial
                            deployment of your site, that data is saved into a key-value store (for
                            text) and a blob (for media). You can then edit your profile on your
                            site and that data will be saved back to those places (and read back out
                            from there).
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Won't that cost? It's essentially a mini database, right?
                    </summary>
                    <div>
                        <p>
                            Fortunately, platforms like Netlify and Cloudflare have generous free
                            tiers so unless your cv is bible-length, you should be fine. But this is
                            definitely one of the tradeoffs of deploying your own site. You are
                            responsible for any costs associated with running your site. But don't
                            worry, I will provide as much information and documentation around this
                            as possible. There will also be an option to deploy the site without the
                            content editing feature, rendering this concern...no longer a concern.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Also, doesn't this mean that anyone will be able to edit my site?
                    </summary>
                    <div>
                        <p>
                            Most definitely not. One of the very few manual steps this solution
                            requires is for you to set a password that restricts access to the admin
                            page/panel.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Wait, go back to the data part? Who owns that? Who can see that?
                    </summary>
                    <div>
                        <p>
                            Your data is encrypted before being stored, so while services like
                            Upstash/Redis store the encrypted data, they can't actually read it.
                            Only your site, with its unique encryption key, can decrypt and display
                            the information. You maintain full control over your data, and no one
                            else (including the storage providers) can access its contents. Having
                            said that, the only data that will be saved is data you explicilty
                            entered to be displayed on your site, so this is very likely not to be a
                            concern in the first place!
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        What about if the admin page/panel breaks? Am I just stuck unable to update
                        my site?
                    </summary>
                    <div>
                        <p>
                            Remember the extras I said I'm baking into the original export app?
                            Well, all of the critical extras are installed into the app I give you
                            as a 'dependency' (i.e. external code). If the admin page/panel breaks
                            due to some crappy code I wrote, I'll be able to patch it from the
                            outside (so to speak) and you'll be good to go.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        You mentioned a community hub page or a showcase? What's up with that?
                    </summary>
                    <div>
                        <p>
                            It would be amazing if Andy and the team could keep read.cv open for the
                            data to flow there. But failing that, I guess I would build a little
                            clone of the explore page. I'm honestly open to suggestions! Please get
                            in touch!
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary"> When will it be ready? </summary>
                    <div>
                        <p>
                            Depends a little on interest but definitely by the time read.cv goes
                            down. Also, the right help could speed it up! So, again, do get in touch
                            if that's you!
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </main>
</div>
