<div>
    <main class="wrapper flow prose">
        <p>
            setup.yourcv.site is a free tool that helps you turn your exported read.cv profile data
            into your own website in as few clicks as possible™️. Same profile but yours
            until...solar flares get us or whatever. This is not a platform! If everything goes
            well, you will only ever visit the site you're on right now once (technically twice, I
            suppose).
        </p>
        <p>Why use it?</p>
        <p>Two main reasons:</p>
        <ol>
            <li>
                It can be confusing to figure out how to deploy a website, even if you have the
                code, and it would suck if people who wanted to keep their profile up, couldn't.
            </li>
            <li>The tool extends the read.cv export code to bake in a few extra features:</li>
            <ul>
                <li>
                    Profile editing (you can continue to edit and update your profile on your
                    website itself, just as you would on read.cv. No coding required).
                </li>
                <li>
                    Update sharing (off by default but if you enable it, updates you make to your
                    profile will be sent to a community hub. Think the current read.cv home page
                    🥹).
                </li>
                <li>
                    Anytime data export. (I'm adding a button to the admin panel that will let you
                    export your data at any point.)
                </li>
            </ul>
        </ol>

        <p>
            In case it's not abundantly clear, the whole point of this is to make it easier for
            people to keep their read.cv profiles. You absolutely do not need to use this tool to do
            that. You can just deploy the awesome read.cv export app as it is. I know there are
            people in the community willing to help you do that, including myself, <a
                href="mailto:mark.tomlinson3@gmail.com">so just reach out</a
            > if that is the solution for you.
        </p>
        <div>
            <h2>FAQ</h2>
            <div class="faq-list">
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong> Just how many clicks to get setup?
                    </summary>
                    <p>
                        <strong>A:</strong> It depends a little on the platform you choose. We're talking
                        not many though.
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>Which deployment platforms will be supported?
                    </summary>
                    <p>
                        <strong>A:</strong>I'm aiming to support people who want to use Netlify,
                        Cloudflare, and Vercel, though this may change as I proof-of-concept all
                        three. For...reasons I would strongly encourage people not to use Vercel,
                        but I admit that their platform is probably the easiest.
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>How can the tool support content editing? Like, where
                        does the data come from and get saved to?
                    </summary>
                    <p>
                        <strong>A:</strong>The initial data comes from the read.cv export JSON. On
                        initial deployment of your site, that data is saved into a key-value store
                        (for text) and a blob (for media). You can then edit your profile on your
                        site and that data will be saved back to those places (and read back out
                        from there).
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>Won't that cost? It's essentially a mini-db, right?
                    </summary>
                    <p>
                        <strong>A:</strong>Fortunately, platforms like Netlify and Cloudflare have
                        generous free tiers so unless your cv is bible-length, you should be fine.
                        But this is definitely one of the tradeoffs of deploying your own site. You
                        are responsible for any costs associated with running your site. But don't
                        worry, I will provide as much information and documentation around this as
                        possible. There will also be an option to deploy the site without the
                        content editing feature, rendering this concern, err, no longer a concern.
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>Also, doesn't this mean that anyone will be able to edit
                        my site?
                    </summary>
                    <p>
                        <strong>A:</strong>Most definitely not. One of the very few manual steps
                        this solution requires is for you to set a password that restricts access to
                        the admin panel.
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>Wait, go back to the data part? Who owns that? Who can
                        see that?
                    </summary>
                    <p>
                        <strong>A:</strong>Your data is encrypted before being stored, so while
                        services like Upstash/Redis store the encrypted data, they can't actually
                        read it. Only your site, with its unique encryption key, can decrypt and
                        display the information. You maintain full control over your data, and no
                        one else (including the storage providers) can access its contents. Having
                        said that, the only data that will be saved is data you explicilty entered
                        to be displayed on your site, so this is very likely not to be a concern in
                        the first place!
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>What about if the admin panel breaks? Am I just stuck
                        unable to update my site?
                    </summary>
                    <p>
                        <strong>A:</strong>Remember the extras I said I'm baking into the read.cv
                        export app? Well, all of the critical extras are installed into your app as
                        a 'dependency' (i.e. external code). If the admin panel breaks, I'll be able
                        to patch it from the outside (so to speak) and you'll be good to go.
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>You mentioned a community hub page. What's up with that?
                    </summary>
                    <p>
                        <strong>A:</strong>It would be amazing if Andy and the team could keep
                        read.cv open for the data to flow there. But failing that, I guess I would
                        build a little clone of that home page. I'm honestly open to suggestions!
                        Please get in touch!
                    </p>
                </details>
                <details class="faq-item">
                    <summary>
                        <strong>Q:</strong>What's in it for you?
                    </summary>
                    <p>
                        <strong>A:</strong>I was an early adopter of read.cv. I didn't post much
                        because I'm mainly a developer and never had any amazing creative projects
                        to show off. But read.cv was probably my favourite website - both in its
                        concept and in the reality of the thing. I discovered so much cool work and
                        so many interesting people through there. It was pretty much a daily
                        inspiration. I'm guessing a lot of developers who are not designers but who
                        love design and/or are trying to learn, felt the same way. Also, like so
                        many have mentioned, it's one of the only online spaces I've come across
                        that made me feel better, not worse. I guess this service is mainly about
                        contributing in some way to that.
                        <br />
                        <br />
                        More materially, I would absolutely love it if, through this tool, I could connect
                        with more of you or if it could help you keep your profiles alive.
                    </p>
                </details>
            </div>
        </div>
    </main>
</div>
