<div>
    <main class="flow prose wrapper" style="--wrapper-max-width: 70rem">
        <div class="region flow">
            <h1>Hey 👋</h1>
            <p>
                Thanks for checking this out. This <strike>is</strike>&nbsp;<i>will be</i>&nbsp;the
                home of a free tool that helps you turn your exported <a href="https://read.cv"
                    ><span class="">read.cv</span></a
                > profile data into
                <strong>your own <i>editable</i> website</strong> (in as few clicks as possible). Same
                profile but yours and owned by you until...forever.
            </p>

            <h2>Wait, what does it do again?</h2>
            <p>Two main things:</p>
            <ol>
                <li>
                    It extends the read.cv export code (thank you Andy, Mehdi and team 🙏) to bake
                    in a few extra features:
                    <ul>
                        <li>
                            <strong>Profile editing.</strong>
                            <p>
                                You can continue to edit and update your profile on your website
                                itself, just as you would on read.cv. No code updates required.
                            </p>
                        </li>
                        <li>
                            <strong>Share your updates to a community owned explore page.</strong>
                            <p>
                                Disabled by default, but if enabled (through your admin panel)
                                updates you make to your profile will be sent to a community hub for
                                showcasing. Think the read.cv explore page 🥹.
                            </p>
                        </li>
                        <li>
                            <strong>Anytime data export.</strong>
                            <p>
                                I'm adding a button to the admin page/panel that will let you export
                                your site's content whenever you need to.
                            </p>
                        </li>
                        <li>
                            <strong
                                >Helpful notifications if you're about to exceed deployment platform
                                free tiers.</strong
                            >
                            <p>
                                Free tiers are almost always enough for personal sites, but if you
                                want them to manage GBs of media (looking at you, videos artists,
                                motion designers, and blender gurus), they'll eventually want to
                                charge you. The admin page/panel will show you where you're at and
                                what actions to take.
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    It helps you deploy your site to a deployment platform with the minimum amount
                    of clicking around possible.
                </li>
            </ol>

            <h2>Why build this?</h2>
            <p>
                <a href="https://read.cv"><span class="">read.cv</span></a> was easily my favorite website
                over the past three or four years - both in its concept and in the reality of the thing.
            </p>
            <p>
                I would love it if I (we?) could help some people keep their profiles alive. Even
                better if some concept of the explore page lived on. More materially, I guess it
                could be a good way to connect with more people. It would be an absolute dream if
                this could somehow turn into a COMMUNITY tool 🙏. <a
                    href="mailto:mark.tomlinson3@gmail.com">Message me</a
                >&nbsp;if you know how to do that.
            </p>

            <p>
                <i
                    >(As an aside: I have some probably stupid ideas about collective ownership of
                    the community hub page that I'm too embarrassed to share but, yeah)</i
                >.
            </p>

            <h2>But didn't the team give us an app to deploy already?</h2>
            <p>
                They did and it's great. If you just want to deploy that but aren't sure how, Andy
                has put together a walkthrough <a
                    href="https://www.youtube.com/watch?v=JnKneOkKh-o"
                    target="_blank">here</a
                >.
            </p>
            <h2>What about just remaking my profile on another platform?</h2>
            <p>
                Yes, a totally good approach. The point here definitely isn't to convince you that
                deploying your own code is the right or best approach.
            </p>
            <h2>Is this another posts or read.cv replacement?</h2>
            <p>
                No, this is not a platform; it's a tool. You will only ever visit the site you're on
                right now one time (technically twice, if you come back to use the tool, I suppose).
            </p>
        </div>

        <div class="flow faq">
            <h2>(Slightly) more (technical) questions...</h2>
            <div class="faq-list">
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Just how many clicks to get set up?
                    </summary>
                    <div>
                        <p>
                            It depends a little on the platform you choose and whether you already
                            have a GitHub account. We're talking like 4 - 5 including you uploading
                            your exported data. I mean, don't hold me to that exactly.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary"> Will it be clear what to click? </summary>
                    <div>
                        <p>
                            It would be negligent of me to build this tool without making sure the
                            documentation is as clear as possible. Expect walkthroughs as well as
                            careful documentation.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Which deployment platforms will be supported?
                    </summary>
                    <div>
                        <p>
                            I'm aiming to support people who want to use Netlify, Cloudflare, and
                            Vercel, though this may change as I continue to POC all three.
                            For...reasons...I really hesitated to include Vercel, but their platform
                            is probably the easiest to get started with so I caved for now 😢.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        How can the tool support content editing? Like, where does the data come
                        from and get saved to?
                    </summary>
                    <div>
                        <p>
                            The initial data comes from the read.cv export JSON and the `content`
                            directory. On initial deployment of your site, that data is saved into a
                            key-value store (for text), a blob (for media), and GitHub (for blog
                            posts). You can then edit your profile on your site and that data will
                            be saved back to those places (and read back out from there).
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Won't that cost? It's essentially a mini database, right?
                    </summary>
                    <div>
                        <p>
                            Fortunately, platforms like Netlify and Cloudflare have generous free
                            tiers so unless your cv is bible-length, you should be fine. But this is
                            definitely one of the tradeoffs of deploying your own site. You are
                            responsible for any costs associated with running your site. But don't
                            worry, I'm baking into the admin page/panel a feature that will give you
                            visibility on where you're at with storage and usage and what to do if
                            you're in danger of exceeding free tiers (which isn't to say this tool
                            is responsible if you accidentally go over 😬).
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        Also, doesn't this mean that anyone will be able to edit my site?
                    </summary>
                    <div>
                        <p>
                            Most definitely not. One of the very few manual steps this solution
                            requires is for you to set a password that restricts access to the admin
                            page/panel.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        What about if the admin page/panel breaks? Am I just stuck unable to update
                        my site?
                    </summary>
                    <div>
                        <p>
                            Remember the extras I said I'm baking into the original export app?
                            Well, all of the critical extras are installed into the app I give you
                            as a 'dependency' (i.e. external code). If the admin page/panel breaks
                            due to some crappy code I wrote, we'll be able to patch it from the
                            outside (so to speak) and you'll be good to go.
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        What's the tech stack? After all, it will be MY code and I don't want my
                        site running PHP.
                    </summary>
                    <div>
                        <p>
                            First off: rude. Second, here you go: Astro + TypeScript + vanilla CSS.
                            React for any heavily interactive parts. You want to know what the
                            sneaky best part about all this is? The code is yours to play with, make
                            better, extend...
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary">
                        You mentioned a community hub page or a showcase? What's up with that?
                    </summary>
                    <div>
                        <p>
                            It would be amazing if Andy and the team could keep read.cv open for the
                            data to flow there. But failing that, I guess I would build a little
                            clone of the explore page. I'm honestly open to suggestions! Please get
                            in touch!
                        </p>
                    </div>
                </details>
                <details class="faq-item flow">
                    <summary class="faq-item-summary"> When will it be ready? </summary>
                    <div>
                        <p>
                            Depends a little on interest but it would definitely be good to get an
                            alpha out by the time read.cv goes down. Also, the right help could
                            speed it up. The good news is, if you deploy the export app in the
                            meantime, it won't be any trouble to switch to this later.
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </main>
</div>
