---
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>yourcv.site</title>
    </head>
    <body data-theme="">
        <slot />
    </body>
    <footer class="wrapper region" style="--wrapper-max-width: 30rem">
        <small>Thanks for reading this far. A ridiculous effort.</small>
        <small>
            Reach out at&nbsp;<strong
                ><a href="mailto:mark.tomlinson3@gmail.com">mark.tomlinson3@gmail.com</a></strong
            >
        </small>

        <style>
            footer {
                small {
                    display: block;
                    color: var(--text-subtle);
                }

                a {
                    color: var(--color-neutral-600);
                }
            }
        </style>
    </footer>
</html>
